<?xml version="1.0" encoding="UTF-8"?>
<Plugins>
  <Plugin>
    <Name>wordpress发布</Name>
    <File>D:\sominer\NetGet\SoMiner\bin\Debug\plugins\wordpress\WordpressPublishPlugin.dll</File>
    <Type>5053</Type>
  </Plugin>
  <Plugin>
    <Name>中文分词</Name>
    <File>D:\sominer\NetGet\SoMiner\bin\Debug\plugins\seg\SoukeySegPlugin.dll</File>
    <Type>5052</Type>
  </Plugin>
  <Plugin>
    <Name>FTP上传插件</Name>
    <File>D:\sominer\NetGet\SoMiner\bin\Debug\plugins\ftp\SoukeyFTPPlugin.dll</File>
    <Type>5053</Type>
  </Plugin>
  <Plugin>
    <Name>登录插件</Name>
    <File>D:\sominer\NetGet\SoMiner\bin\Debug\plugins\Login\LoginPlugin.dll</File>
    <Type>5051</Type>
  </Plugin>
  <Plugin>
    <Name>数据发布</Name>
    <File>D:\sominer\NetGet\SoMiner\bin\Debug\plugins\DataProcess\DataProcess.dll</File>
    <Type>5053</Type>
  </Plugin>
  <Plugin>
    <Name>74注册用户</Name>
    <File>D:\sominer\NetGet\SoMiner\bin\Debug\plugins\74RegisterUser\qsRegisterUser.dll</File>
    <Type>5053</Type>
  </Plugin>
</Plugins>